body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221,239,255);
    background: linear-gradient(149deg, rgba(221,239,255,1) 58%, rgba(162,210,255,1) 100%);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: inherit;
    box-sizing: border-box;
}

label {
    display: block;
}

.card {
    padding: 3rem 6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 2rem;
    word-wrap: break-word;
    width: 35rem;
    box-shadow: 0px 0px 25px -5px #57b3ff61;
    height: 30rem;
    min-height: fit-content;
}

.card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header {
    align-self: flex-start;
    margin-bottom: 1.5rem;
}

.card-header h2 {
    font-family: 'DM Serif Display', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

button {
    width: 100%;
    font-size: large;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #FFAFCC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6ea3;
    cursor: pointer;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: .5rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    font-size: large;
}

.red-border {
    border: 1px solid red;
}

.display-none {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        padding: 3rem 2rem;
        font-size: 1rem;
    }

    .card form {
        width: 100%;
    }

    button {
        font-size: medium;
    }

    input {
        font-size: medium;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        height: 100%;
        padding: 1rem 1rem;
        margin: 0;
        border-radius: 0;
        font-size: 0.8rem;
    }

    button {
        font-size: small;
    }

    input {
        font-size: small;
    }
}
